{% extends 'jumla/base/base.html' %}
{% load static %}
{% block Title %}delivery home{% endblock %}
{% block content %}

<div class="mt-20 ">

      
    <div class="rounded  container mx-auto  p-2 bg-neutral-100 ">
      <h1 class="font-semibold text-2xl mx-16 p-4">طلبات الزبائن</h1>
      <div class="flex justify-end mx-28">
          <div class="mb-3 xl:w-90">
{#          <form action="" method="get">#}



  <div class="flex justify-center mt-5">
    <select name="city"  class="   bg-white border-gray-300 border-2 focus:outline-none focus:ring focus:ring-gray-100 text-center
rounded-lg h-10 w-52    " aria-label="select">
        <option selected  >   الكل   </option>
        {% for city in cities %}
        <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
    </select>
  </div>

{#          </form>#}
  </div>
{#        <div class="dropdown ">#}
{#          <button class=" dropdown-toggle hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-2 focus:outline-none focus:ring-gray-300  px-3 py-2.5 text-sm  rounded " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#              اختر المحافظة #}
{#          </button> #}
{#          <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton" >#}
{#            <a class="dropdown-item" href="#">بغداد</a>#}
{#            <a class="dropdown-item" href="#">بصرة</a>#}
{#            <a class="dropdown-item" href="#">اربيل</a>#}
{#            <a class="dropdown-item" href="#">سماوة</a>#}
{#            <a class="dropdown-item" href="#">ناصرية</a>#}
{#          </div>#}
{#        </div>#}
      </div>

      <div class="flex  mt-5 flex-col justify-center items-center ">
        {% for cart in page_elements %}


        <div class="rounded w-10/12 p-4 m-2 bg-white hover:shadow-lg  border-b-4 ">
          <div class="flex flex-col justify-around" >

              <h1>اسم الزبون : <span>
                  <a href="{% url 'get_cart_bills' cart.id %}">{{ cart.userOwner.first_name }}</a>

              </span></h1>
                <h1>  رقم الهاتف: <span class="text-sm">
                 {{ cart.userOwner.phone_number }}
                </span></h1>
                  <h1>   العنوان: <span>
                  {{ cart.userOwner.address }}
                   </span></h1>
                    <h1>   تاريخ الفاتورة : <span>
                      {{ cart.Date |date:'Y-m-d a' }}
                       </span></h1>
              <h1>   اجمالي السلة: <span>
                      {{ cart.total }}
                       </span></h1>

          </div>
      </div>

          {% endfor %}
      </div>
    </div>
      
</div>
{#    paginator   #}

      {% include 'jumla/base/paginator.html' %}
{% endblock content %}
