{% extends 'jumla/base/base.html' %}
{% load static %}
{% block static %}
    <script  src="{% static 'js_backend/add_to_cart.js' %}"></script>
    {% endblock %}

{% block content %}
<h1>المنتجات</h1>
<div class="row">
    {% for product in page_elements %}
        <div class="col-3">
               <div class="card" style="width: 18rem;">
                    {% for image in images %}
                        {% if product.id == image.product_id %}
                        <img src="{{ image.image.url }}" style="width: 100px; height: 100px" class="card-img-top" alt="...">
                        {% endif %}

    {% endfor %}
                  <div class="card-body">
                    <h5 class="card-title">{{ product.ProductName }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.shopOwner }}</p>
                    <a href="#" id="{{ product.id }}" class="btn btn-primary">اضف الى السلة</a>
                  </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% include 'jumla/base/paginator.html' %}

{% endblock content %}
