{% extends 'jumla/base/base.html' %}

{% block content %}
<h1>المنتجات</h1>
<div class="row">
    {% for product in products %}
        <div class="col-3">
               <div class="card" style="width: 18rem;">
                    {% for image in images %}
                        {% if product.id == image.product_id %}
                        <img src="{{ image.image.url }}" style="width: 100px; height: 100px" class="card-img-top" alt="...">
                        {% endif %}

    {% endfor %}
{#                 <img src="..." class="card-img-top" alt="...">#}
                  <div class="card-body">
                    <h5 class="card-title">{{ product.ProductName }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="#" class="btn btn-primary">اضف الى السلة</a>
                  </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}